build
coverage
dist
debug.log
node_modules
out-tsc
package-lock.json

# git
*.orig

# IDE
nbproject/**

# meld
*_BACKUP_*
*_LOCAL_*
*_BASE_*
*_REMOTE_*

# global
*.log
*.bak
[Tt]humbs.db
/angular-walkthrough-0.1.0/angular-walkthrough-0.1.0/package/nbproject/private/