.avalaible {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;

    & > button {
        min-width: 200px;
        margin: 0;
    }
}

:host,
:host > div {
    display: block;
    height: 100%;
    width: 100%;
}

.overflow {
    height: 250px;
    overflow: auto;

    div {
        height: 250px;
    }
}

button {
    margin-left: 5%;
}

.bigger {
    height: 100%;
    width: 100%;
    position: relative;
}

#test3 {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 25% 50% 25% 40%;
    z-index: 1;
}

#test4 {
    bottom: 1em;
    position: absolute;
}

.valign-container {
    position: relative;
    height: 2000px;
}

#valign {
    top: 500px;
    left: 30%;
    position: absolute;
}

#valign-content button {
    margin: 0;
}

#increase {
    top: 500px;
    position: absolute;
    left: 0;
}

#decrease {
    top: 530px;
    position: absolute;
    left: 0;
}

.redbutton {
    background: #f00;
    color: #fff;
}
