<div>
    <button  id="test1" (click)="walk1.open()">Test</button>
    <div class="overflow">
        <div></div>
        <div><button id="test2" (click)="walk2.open()">Test</button></div>
    </div>


    <ng-walkthrough #walk1
        id="wt-test1"
        focusElementSelector="#test1"
        hasGlow="true"
        [contentTemplate]="step1">

    </ng-walkthrough>
    <ng-walkthrough #walk2
        id="wt-test2"
        focusElementSelector="#test2"
        hasBackdrop="true"
        [contentTemplate]="step2">
    </ng-walkthrough>

    <ng-template #step1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur, at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>

    <ng-template #step2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur, at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>

</div>