<div>
    <div>
        <button id="test1"
                (click)="walk1.open()">Test 1</button>
        <button id="testTable"
                (click)="walkTable.open()">Test Table</button>
        <button id="testFlow"
                (click)="walkFlow.start()">Test Flow</button>
        <button id="hiddenTimer"
                (click)="hideWalkthrough()">{{hideCount > 0 ? 'Hide walkthrough in '+ hideCount+ 's' : 'Continue'}}</button>
        <button id="test3"
                (click)="walk3.open()">Test 3</button>
    </div>
    <div class="overflow">
        <div></div>
        <div>
            <button id="test2"
                    (click)="walk2.open()">Test 2</button>
        </div>
    </div>

    <table>
        <colgroup>
            <col id="col1" />
            <col id="col2" />
            <col id="col3" />
        </colgroup>
        <thead>
            <tr>
                <th>Col 1</th>
                <th>Col 2</th>
                <th>Col 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>butternut</td>
                <td>butterfly</td>
                <td>buttermilk</td>
            </tr>
            <tr>
                <td>doubeurre</td>
                <td>papillon de jour</td>
                <td>babeurre</td>
            </tr>
        </tbody>
    </table>

    <div class="bigger">
        <button id="test4"
                (click)="walk4.open()">Test 4</button>
    </div>

    <div class="valign-container">
        <button id="valign"
                (click)="valign.open()"
                [style.height]="valignHeight">alignContent
            <br>and
            <br>contentSpacing</button>

        <button id="increase"
                (click)="valignHeight = '1500px'">increase height</button>
        <button id="decrease"
                (click)="valignHeight = '600px'">decrease height</button>
    </div>
</div>

<ng-walkthrough #walk1
                id="wt-test1"
                focusElementSelector="#test1"
                focusGlow="true"
                [contentTemplate]="step1"
                [nextStep]="walk1b"
                (closed)="walk1Closed($event)"
                (finished)="walk1Finished()"
                closeButton="true"
                closeAnywhere="false"
                [focusClick]="focusClickAction">
    <ng-template #step1>
        <p>
            1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
            sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
            porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum
            nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur,
            at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas
            elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>
</ng-walkthrough>
<ng-walkthrough #walk1b
                id="wt-test1b"
                focusBackdrop="true"
                [contentTemplate]="step1b"
                [previousStep]="walk1"
                [nextStep]="walk1c"
                closeButton="true"
                closeAnywhere="false"
                finishButton="true">
    <ng-template #step1b>
        <p>
            1b. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
            sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
            porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum
            nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur,
            at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas
            elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>
</ng-walkthrough>
<ng-walkthrough #walk1c
                id="wt-test1"
                focusElementSelector="#test1"
                focusBackdrop="true"
                [previousStep]="walk1b"
                [nextStep]="walk2"
                closeButton="true"
                closeAnywhere="false"
                [focusClick]="focusClickAction"
                contentText="1c. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet
    condimentum eros vulputate sed. ">
</ng-walkthrough>
<ng-walkthrough #walk2
                id="wt-test2"
                focusElementSelector="#test2"
                focusBackdrop="true"
                focusHighlightAnimation="true"
                [contentTemplate]="step2"
                [previousStep]="walk1c"
                [nextStep]="walk3"
                closeButton="true"
                closeAnywhere="false"
                showArrow="true">
    <ng-template #step2>
        <p>
            2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
            sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
            porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum
            nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur,
            at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas
            elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>
</ng-walkthrough>
<ng-walkthrough #walk3
                id="wt-test3"
                focusElementSelector="#test3"
                focusElementCSSClass="redbutton"
                focusBackdrop="true"
                [contentTemplate]="step3"
                [previousStep]="walk2"
                [nextStep]="walk4"
                (ready)="walk3IsReady($event)"
                closeButton="true"
                closeAnywhere="false"
                showArrow="true"
                arrowColor="yellow"
                radius="auto"
                marginZone="12 9">
    <ng-template #step3>
        <p>
            3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
            sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
            porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum
            nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur,
            at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas
            elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>
</ng-walkthrough>
<ng-walkthrough #walk4
                id="wt-test4"
                focusElementSelector="#test4"
                focusBackdrop="true"
                [contentTemplate]="step4"
                contentStyle="none"
                [previousStep]="walk3"
                finishButton="true"
                [texts]="frenchText"
                showArrow="true">
    <ng-template #step4>
        <p>
            4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
            sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
            porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec vestibulum
            nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo consectetur,
            at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue semper. Maecenas
            elit ex, lobortis at sapien sed, fermentum volutpat sem.
        </p>
    </ng-template>
</ng-walkthrough>

<ng-walkthrough #valign
                id="wt-valign"
                focusElementSelector="#valign"
                focusBackdrop="true"
                [contentTemplate]="valignContent"
                finishButton="true"
                showArrow="true"
                [verticalAlignContent]="verticalAlignContent"
                [alignContent]="alignContent"
                contentSpacing="200"
                verticalContentSpacing="50"
                closeAnywhere="false">
    <ng-template #valignContent>
        <div id="valign-content">
            <p>alignContent {{ alignContent }}</p>
            <p>verticalAlignContent {{ verticalAlignContent }}</p>
            <p>contentSpacing 200</p>
            <p>verticalContentSpacing 50</p>
            alignContent value :
            <div>
                <button (click)="alignContent ='left'">left</button>
                <button (click)="alignContent ='right'">right</button>
            </div>
            verticalAlignContent value :
            <div>
                <button (click)="verticalAlignContent ='above'">above</button>
                <button (click)="verticalAlignContent ='top'">top</button>
                <button (click)="verticalAlignContent ='center'">center</button>
                <button (click)="verticalAlignContent ='bottom'">bottom</button>
                <button (click)="verticalAlignContent ='below'">below</button>
            </div>
        </div>
    </ng-template>
</ng-walkthrough>

<ng-walkthrough #walkTable
                id="wt-testTable"
                focusElementSelector="table th:nth-child(2), table td:nth-child(2)"
                typeSelector="zone"
                focusBackdrop="true"
                [contentTemplate]="testTable"
                showArrow="true"
                radius="5"
                closeButton="true"
                closeAnywhere="false"
                [alignContent]="testPosition">
    <ng-template #testTable>
        <p>
            Look this.
        </p>
        <div>
            <button (click)="buttonAction()">{{testClickTexts[testClickCount]}}</button>
        </div>
        <div>
            <button (click)="testPosition ='left'">Left</button>
            <button (click)="testPosition ='center'">Center</button>
            <button (click)="testPosition ='right'">Right</button>
        </div>
    </ng-template>
</ng-walkthrough>

<ng-walkthrough-flow #walkFlow
                     id="wt-test-flow"
                     focusBackdrop="true"
                     focusHighlightAnimation="true"
                     closeButton="true"
                     closeAnywhere="false"
                     arrowColor="#000"
                     showArrow="true"
                     radius="auto"
                     [texts]="frenchText"
                     (closed)="flowClosed($event)"
                     (finished)="flowFinished()">
    <ng-walkthrough id="wt-test1-flow"
                    focusElementSelector="#test1"
                    [contentTemplate]="step1flow"
                    [disabled]="step1flowDisabled">
        <ng-template #step1flow>
            <p>
                This step is {{ step1flowDisabled ? 'disabled' : 'enabled' }}
            </p>
            <p>
                <button (click)="step2flowDisabled = !step2flowDisabled">Next step is {{ step2flowDisabled ? 'disabled' : 'enabled' }}</button>
            </p>
            <p>
                1f. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
                sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
                porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec
                vestibulum nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo
                consectetur, at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue
                semper. Maecenas elit ex, lobortis at sapien sed, fermentum volutpat sem.
            </p>
        </ng-template>
    </ng-walkthrough>
    <ng-walkthrough id="wt-test2-flow"
                    focusElementSelector="#test2"
                    [contentTemplate]="step2flow"
                    [disabled]="step2flowDisabled">
        <ng-template #step2flow>
            <p>
                This step is {{ step2flowDisabled ? 'disabled' : 'enabled' }}
            </p>
            <p>
                <button (click)="step1flowDisabled = !step1flowDisabled">Previous step is {{ step1flowDisabled ? 'disabled' : 'enabled' }}</button>
            </p>
            <p>
                <button (click)="step3flowDisabled = !step3flowDisabled">Next step is {{ step3flowDisabled ? 'disabled' : 'enabled' }}</button>
            </p>
            <p>
                2f. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
                sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
                porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec
                vestibulum nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo
                consectetur, at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue
                semper. Maecenas elit ex, lobortis at sapien sed, fermentum volutpat sem.
            </p>
        </ng-template>
    </ng-walkthrough>
    <ng-walkthrough id="wt-test3-flow"
                    focusElementSelector="#test3"
                    [contentTemplate]="step3flow"
                    closeButton="true"
                    arrowColor="yellow"
                    [disabled]="step3flowDisabled">
        <ng-template #step3flow>
            <p>
                This step is {{ step3flowDisabled ? 'disabled' : 'enabled' }}
            </p>
            <p>
                <button (click)="step2flowDisabled = !step2flowDisabled">Previous step is {{ step2flowDisabled ? 'disabled' : 'enabled' }}</button>
            </p>
            <p>
                3f. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros vulputate
                sed. Aenean maximus dui a lobortis pharetra. Suspendisse potenti. Nulla facilisi. Suspendisse potenti. Integer
                porta nec arcu molestie sodales. Pellentesque et diam tellus. Quisque at nisi id neque tempus varius. Donec
                vestibulum nisi ac risus laoreet lobortis. Cras tristique et sem mollis vehicula. Nulla maximus urna a leo
                consectetur, at fringilla odio volutpat. Praesent ultricies nunc eget tellus convallis, non hendrerit augue
                semper. Maecenas elit ex, lobortis at sapien sed, fermentum volutpat sem.
            </p>
        </ng-template>
    </ng-walkthrough>
</ng-walkthrough-flow>