<div class="wkt-container">
    <div class="wkt-zone" [class.backdrop]="hasBackdrop" [class.glow]="hasGlow" #zone></div>
    <div class="wkt-content-block" #contentBlock>
        <ng-template cdkPortalHost></ng-template>

        <div class="wkt-navigate" *ngIf="hasPrevious||hasNext||hasFinish">
            <div class="wkt-previous-link" *ngIf="hasPrevious" (click)="previous()">Previous</div>
            <div class="wkt-next-link" *ngIf="hasNext" (click)="next()">Next</div>
            <div class="wkt-finish-link" *ngIf="hasFinish" (click)="close()">Close</div>
        </div>
    </div>
</div>

